/*css������ʽ */

::before,
 ::after {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*�����Ļ ����Ч��  �������Ч��*/
    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Microsoft YaHei, sans-serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
    -moz-outline-style: none;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    /*�����Χ��������*/
    outline: none;
    /*ȥ��*/
    resize: none;
    /*���Ĭ����ʽ ����Ч��*/
    -webkit-appearance: none;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

p {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}


/*
/!*common css ������ʽ ģ����ʽ*!/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

/!*��Ҫѹ��һ��  Ŀ���ǽ���ƶ���ͼ��ʧ������*!/
[class^="icon_"],[class*=" icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
}

.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}*/